<div id="container">
  <div class="jumbotron jumbotron-fluid" style="background-color:rgb(204, 58, 58)">
    <div class="container text-center">
      <h1><strong>All Your Movie News Scraped From r/movies</strong></h1>
      <h3>Click the button for the top movie related stories!
      </h3>
       <button type="button" class="btn btn-warning" id="scrape-button"><strong>Scrape for Articles Here!</strong></button>
      <a href="/saved"><button type="button" class="btn btn-warning" style="margin-left:2%;"><strong>Your Saved Articles</strong></button></a>
    </div>
  </div>
</div>